<button type="button"
        class="example-config-button"
        (click)="showTableConfiguration = !showTableConfiguration">Config table
</button>

<div *ngIf="showTableConfiguration"
     cdkDropList
     class="example-list"
     (cdkDropListDropped)="drop($event)">
  <div
    class="example-box"
    *ngFor="let column of displayedColumnIds"
    cdkDrag>
    <div class="example-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>

    {{columns[column].title}}
  </div>
</div>

<table mat-table
       [dataSource]="dataSource"
       matSort
       [matSortActive]="config?.sort?.active"
       [matSortDirection]="config?.sort?.direction"
       matSortDisableClear
       (matSortChange)="onMatSortChange($event)"
       class="mat-elevation-z8"
       [class.table-config-visible]="showTableConfiguration">

  <ng-container *ngFor="let col of displayedColumnIds"
                matColumnDef="{{ col }}">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
      {{ col }}
    </th>

    <td mat-cell
        *matCellDef="let element"
        (click)="rowClicked(element)">
      {{element[col]}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnIds"></tr>

  <tr mat-row
      *matRowDef="let row; columns: displayedColumnIds;">
  </tr>
</table>

<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
